.result-heading {
  color: #ffffff;
}
.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  padding: 20px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.profile-image {
  border-radius: 25%;
  height: 70px;
  width: 70px;
}
.profile-name-heading {
  color: #6366f1;
}
.bio-description {
  color: #2c364c;
}
.render-failure-container {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.retry-btn {
  background-color: #6366f1;
  padding: 5px;
  color: #ffffff;
  border: 0px;
  border-radius: 10px;
}
jobs-failed-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.unordered-list-heading {
  font-size: 20px;
}
.side-bar-main-bg-container {
  width: 30vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ffffff; */
}
.unordered-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #f1f5f9;
  width: 100%;
}
.unorderd-list {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}
